nav
	.nav-wrapper
		a.brand-logo(href="#") Launchable
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href="") About
			li
				a(href="") Steps
			li
				a(href="") Contact
section#main
	.container
		.row
			.col.m10.offset-m1
				img.responsive-img.logo(src="./client/image/sliced/Launchable.png")
		.row
			.col.s2.m2.offset-s5.offset-m5
				img.responsive-img.arrow.animated.infinite.bounce(src="./client/image/sliced/arrow-down.png")
section#images
	.container
		.row
			.col.m4
				img.responsive-img(src="./client/image/sliced/pic-1.png")
			.col.m4
				img.responsive-img(src="./client/image/sliced/pic-2.png")
			.col.m4
				img.responsive-img(src="./client/image/sliced/pic-3.png")

section#about
	.container
		.row
			.col.m8
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed iaculis sapien. Mauris semper maximus massa iaculis luctus. 
			.col.m4.align-center.valign-wrapper
				a.waves-effect.waves-light.btn-large.grey.darken-3.valign.align-center.
					<i class="left material-icons">phone</i> Contact Us
section#steps
	.container
		h1.center-align(style="margin-top: 0px;") Steps
		.row
			.col.s12.m6
				img.responsive-img(src="./client/image/sliced/Steps.png")
			.col.s12.m6.valign-wrapper(style="padding: 0px 45px;")
				h3.valign Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed iaculis sapien. Mauris semper maximus massa iaculis luctus. 
section#virtual
	.container
		h1.center-align Virtual & Augmented Reality
		.row
			.col.s12.m6.valign-wrapper(style="padding: 0px 25px;")
				h3.colored-text.valign Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed iaculis sapien. Mauris semper maximus massa iaculis luctus. 
			.col.s12.m6
				img.responsive-img(src="./client/image/sliced/vr.png")


section#pilots.colored-bg.white-text(style="padding: 25px 0px;")
	.container
		.row
			.col.s12.m10.valign-wrapper
				.valign(style="padding-right: 90px;")
					h1 Meet the Pilots
					h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed iaculis sapien. Mauris semper maximus massa iaculis luctus. 
			.col.s12.m2
				img.responsive-img(src="./client/image/sliced/pie.png")
				img.responsive-img(src="./client/image/sliced/Pencil.png")
				img.responsive-img(src="./client/image/sliced/Computer.png")

section#projects.colored-bg.white-text
	.container
		h1.white-text(style="margin-top: 0px;") Projects
		.row(style="margin-bottom: 0px;")
			.col.s12.m4
				img.responsive-img(src="./client/image/sliced/pals.png")
				img.responsive-img(src="./client/image/sliced/omw.png")
			.col.s12.m8.valign-wrapper
				.valign
					h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed iaculis sapien. Mauris semper maximus massa iaculis luctus. 
section#contact.colored-bg
	.container
		h3.white-text.center-align Let's Get In Touch!
		h4.white-text.center-align.
			<i class="material-icons">phone</i>
			407-906-3034
		.row(style="margin-bottom:0px;")
			.form.col.s12.m12
				.row
					.col.s10.m10.offset-s1.offset-m1.input-field
						input#name(type="text")
						label(for="name") Name
				.row
					.col.s10.m10.offset-s1.offset-m1.input-field
						input#email(type="text")
						label(for="email") Email
				.row
					.col.s10.m10.offset-s1.offset-m1.input-field
						input#phone(type="text")
						label(for="phone") Phone
				.row
					.col.s10.m10.offset-s1.offset-m1.input-field
						textarea#message.materialize-textarea
						label(for="message") Message
				.row
					.col.s10.m10.offset-s1.offset-m1.input-field
						.btn Submit




				
